.attach-file{
    position:absolute;
    width: 131px;
  height: 34px;
  background: #FFFFFF;
  border: 1px solid #4285F4;
  box-sizing: border-box;
  border-radius: 5px;
  color:#4285F4;
  font-family:Roboto;
  font-size:14px;
  }