
.action-button{
    position: absolute;
    width: 160px;
    height: 40px;
    left: 61px;
    top: 30px;
   
    
    background: #6F6B6B;
    border-radius: 3px;
    color:#FFFFFF;
    font-family: Roboto;
    font-size: 16px;
}
.action-form{
    position: absolute;
    width: 1320px;
    height: 335px;
    left: 61px;
    top: 80px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 2px solid #12805C;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    padding-left:30px;
    padding-top:40px;
}


select {
    /* position:absolute; */
width: 205px;
height: 34px;
/* left: 196px; */
margin:5px 0;

background: #FFFFFF;
border: 1px solid #C4C4C4;
box-sizing: border-box;
border-radius: 5px;
}
label {
    
    

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 140.62%;
/* identical to box height, or 20px */

margin:10px;
color: #000000;
}
span + select{
    margin-left:75px;
    text-align:left;
    
}

span + textarea{
    margin-left:75px;
    text-align:left;
}

textarea{
   /*  position: absolute; */
width: 369px;
height: 69px;
/* left: 256px;
top: 503px; */

background: #FFFFFF;
border: 1px solid #C4C4C4;
box-sizing: border-box;
border-radius: 5px;
}

button[type=submit]{
    
/* position: absolute; */
width: 71px;
height: 40px;
/* left: 150px;
top: 409px; */

background: #12805C;
border-radius: 3px;

/* position: absolute;
width: 41px;
height: 20px;
left: 165px;
top: 419px; */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140.62%;
/* identical to box height, or 20px */


color: #FFFFFF;

}


